* {
    margin: 0;
    font-family: Arial, sans-serif;
    /* border: border-box; */
}

.front-page {
    height: 100vh;
    width: 100vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position:fixed; 
    animation: frontPagePhotoChangeFood 14s infinite;
    /* background-image:url(Laccha-Paratha.jpg); */
    /* background-size: cover;    */
}
/* .frontpageanimationClassBtn1{
    animation:frontPagePhotoChangeRoom 14s infinite;
}
.frontpageanimationClassBtn2{
    animation:frontPagePhotoChangeFood 14s infinite;
} */
@keyframes frontPagePhotoChangeFood {
    0% {
        background-image:url(../All_Images/Laccha-Paratha.jpg);
        background-size: cover;
    }
    14%{
        background-image:url(../All_Images/Pudi_dhaba-cover.jpg);
        background-size: cover;
    }
    28%{
        background-image:url(../All_Images/Dhaba_frontImage.jpg);
        background-size: cover;
    }
    42%{
        background-image:url(../All_Images/Roti_chaval_.jpg);
        background-size: cover;
    }
    56%{
        background-image:url(../All_Images/Shahi\paneer_.jpg);
        background-size: cover;
    }
    70%{
        background-image:url(../All_Images/Sweets_istockp.jpg);
        background-size: cover;
    }
    85%{
        background-image:url(../All_Images/Dal_Fry_Tadka.jpg);
        background-size: cover;
    }
    100%{
        background-image:url(../All_Images/paneer_varieties_best.jpg);
        background-size: cover;
    }
}
@keyframes frontPagePhotoChangeRoom {
    0% {
        background-image:url(../All_Images/Vip_Room2.jpg);
        background-size: cover;
    }
    14%{
        background-image:url(../All_Images/Vip_Room.jpg);
        background-size: cover;
    }
    28%{
        background-image:url(../All_Images/Double_Bad_AC.jpg);
        background-size: cover;
    }
    42%{
        background-image:url(../All_Images/single_AC.jpg);
        background-size: cover;
    }
    56%{
        background-image:url(../All_Images/Non_AC_Double_Bad.jpg);
        background-size: cover;
    }
    70%{
        background-image:url(../All_Images/Non_AC_Single.png);
        background-size: cover;
    }
    85%{
        background-image:url(../All_Images/DoubleBad_coupleRoom_NonAC.jpg);
        background-size: cover;
    }
    100%{
        background-image:url(../All_Images/Double_Bad_coupleRoom_AC.jpg);
        background-size: cover;
    }
}
/* .WebsiteFrontLogo{
    width:300px;
    height:215px;
    background-color: whitesmoke;
    background-image:url(Website_frontent_logo.png);
} */

.wellcome {

    
    background-color: #63596e;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 80%;
    max-width: 700px;
}

.wellcome h1 {
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-weight: 800;
    transition:transform 0.3 ease;
} 
.wellcome h3{
    font-family:Cascadia Code;
    color:white;
}
.wellcome h1:hover{
    cursor:pointer;
    transform:translateY(-5px) scale(1.05) rotateX(5deg);
}
.wellcome:hover{
    background-color: #5b4671;

}
#userinfoAnimationMoving{
    height:360px;
    width:750px;
    display:flex;
    background-color: #e4e8f0;
    border-radius: 20px;
    position:relative;
    /* overflow:hidden; */
}
/* #userinfoForDelivary{
    height:300px;
    width:350px;
    background-color: blanchedalmond;
    border-radius: 20px;
} */
#userinfoForBooking, #userinfoForRoom{
    position:absolute;
    background-color: #e4e8f0;
    /* padding: 20px; */
    border-radius: 20px;
    height:100%;
    width:50%;
    /* border: 1px solid green; */
    /* width: 350px; */
    text-align: center;
}
#userinfoForBooking{
    z-index:1;
}
#userinfoForRoom{
    z-index:2;
}
#userinfoMovingdiv{
    position:absolute;
    height:100%;
    width:50%;
    border-radius: 20px;
    z-index: 3;
    left:50%;
    background-color: lightseagreen;
    color:white;
    transition: left 0.3s linear;
}
#userinfoMovingdiv.shift-left {
    left: 0;
    z-index: 4;
}
.hiddenButton{
    display:none;
}
.buttons{
    position:absolute;
    font-weight:525;
    background-color: #478547;
    color:white;
    height:30px;
    width:105px;
    margin:20px 0 0 130px;
    border-radius: 5px;
    /* transform: translateX(50%); */
    cursor:pointer;
    z-index:2;
}

.buttons:hover{
    background-color: green;
}

#userinfoForBooking{
    left:0px;
}
#userinfoForRoom{
    right:0px;
}
#userinfoForBookingHeading{
    padding:15px 0 15px 0;
}
#ourinfosocialmediaLinks{
    height:50px;
    width:80%;
    margin:-5px 0 10px 25px;
    display:flex;
    justify-content: space-evenly;
}
.ourinfosocialmediaLinksLogo{
    height:40px;
    width:40px;
    border-radius:10px;
    /* background-color: #c428c7; */
}
.logosizeinhance{
    transform:scale(2);
    margin-top:12px;
    /* color:white; */
}
.userinfoMovingdivheading2{
    text-align: center;
    padding-top:30px;
    
}
.userinfoMovingdivheading3{
    text-align: center;
    padding-top:40px;
}
.userinfoMovingdivheading1{
    text-align: center;
    padding-top:20px;
}

.input {
    margin-top: 5px;
}

.input input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    /* border: 1px solid gray; */
    border-radius: 10px;
    border:none;
}

.button {
    background-color: rgba(0,128,0,0.7);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.button:hover {
    background-color: darkgreen;
}